#img-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h2{
    margin-right: 50%;
}

#logo {
    width:20%;
}

img {
    width: 100%;
}

#img-history {
    height: 150px;
    width: 50%;
    margin-left: 7%;
}

#icon {
    width: 5%;
}

.center {
    text-align: center;
}

.container {
    margin-top: 30px;
}

p {
    font-size: 25px;
}

.gray {
    background-color: rgb(230, 230, 230);
}

.dark-gray {
    background-color: rgb(192, 192, 192);
}

.line {
    height: 50px;
    width: 100%;
}

.box {
    margin-top: 5px;
    margin-bottom: 5px;
}

#text-history {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 7%;
    margin-right: 8.5%;
}

.line-history {
    height: 20px;
    width: 100%;
}

.logo-box {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
}

#row-box {
    width: 90%;
    margin-left: 7%;
}