body {
    width: 100%;
    text-align: center;
    background-color: bisque;
}
#img-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

p {
    font-size: 25px;
}

h2{
    margin-right: 50%;
}

ul {
    text-align: left;
}

table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

td {
    width: 10%;
}

#logo {
    width:20%;
}

img {
    width: 100%;
}

#img-history {
    height: 188;
}

#td-left {
    text-align: left;
    font-size: 20px;
}

#icon {
    width: 5%;
}