table,
th,
td {
    border: 5px solid white;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 200px; 
    width: 200px;
    table-layout: fixed;
}

img.round {
    border-radius: 8px;
}

img.blur {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}

.synopsis {
    color: #7E8184;
    font-style: italic;
}

.button {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
}

.page {
    width: 600px;
    margin: 0 auto;
}

.onHover:hover {
    cursor: pointer;
}

.onHover2:hover {
    cursor: text;
}

.button:hover:active {
    cursor: wait;
}

.button:hover {
    cursor: none;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}